<div class="container">
    <h1 class="text-center my-5">Mostrando las Series</h1>
    <% @serie.each do |p| %>
    <h2><%= p.name %></h2>
    <p><%= p.synopsis %></p>
    <p><%= p.director %></p>
    <% end%>
    <%= link_to "Agregar nueva Serie", series_new_path %>
</div>
