<div class="container">
    <h1 class="text-center my-5">Mostrando los Documentary Films</h1>
    <% @documentary_film.each do |p| %>
    <h2><%= p.name %></h2>
    <p><%= p.synopsis %></p>
    <p><%= p.director %></p>
    <% end%>
    <%= link_to "Agregar un nuevo Documentary Film", documentaryfilms_new_path %>
</div>